<a href="https://colab.research.google.com/github/kishorrajeeve/entri-elevate-projects/blob/main/kishor1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Write a Python program to sum all the items in a list**

In [ ]:
list=[5,6,8,9,7]
result=[]
result=sum(list)
print(result)

35

2. Write a Python program to get the largest number from a list

In [ ]:
list=[4,6,7,8,989]
result=[]
result=max(list)
print(result)

989

3.Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:

list=['aba', 'ghbj','fg','yu','1221']
li=[i for i in list if (len(i)>=2 and i[0]==i[-1])]
print('result : ',li)
print('no of string:',len(li))

result :  ['aba', '1221']
no of string: 2

4. Write a Python program to remove duplicates from a list.

In [ ]:
l1=(1,3,3,5,3,5,7,2,4,6,3)
print((set(l1)))

{1, 2, 3, 4, 5, 6, 7}

5. Write a Python program to check if a list is empty or not

In [ ]:
l1=[]
if len(l1)==0:
  print('list is empty')
else:
  print('list is not empty')

list is empty

6.Write a Python program to filter the list if the length of the character is < 4

In [ ]:
l1=['fish','birds','cat','deer','dog']
result_list=[i for i in l1 if len(i)<4]
print(result_list)

['cat', 'dog']

7.Write a Python program to find the second largest number in a list.

In [ ]:
l1=[1,3,3,3,5,5,7,9,6]
l1.sort()
print(l1[-2])

7

8.Write a Python program to reverse a list at a specific location

In [ ]:
l1=[1,2,3,4,5,6]
loc=3
l1r=l1[0:loc-1]
l2r=l1[loc-1:]
print(l1r+l2r[::-1])

[1, 2, 6, 5, 4, 3]

9.Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
l1=list(input("Enter the list:"))
lr=l1[::-1]
if(l1==lr):
  print('the string is paliandrome')
else:
  prnt('the string  is not palindrome')

Enter the list:malayalam
the string is paliandrome

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
l1=[2,3,3,8,6,9]
l2=[8,6,6,6,4,3,4,1,]
s1=set(l1)
s2=set(l2)
print(list(s1.union(s2)))
print(list(s1.intersection(s2)))

[1, 2, 3, 4, 6, 8, 9]
[8, 3, 6]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [2]:
my_dict = {"banana": 5,"apple":2,"orange":8,"grape":3}

def get_value(item): #takes argument(item) i.e (5,2,8,3) and returns the value of index 1 in the tuple
    return item[1]   #([(key1,value1),(key2,value2),.....])

sorted_dict=dict(sorted(my_dict.items(),key=get_value)) #key reads (5,2,8,3) and sort it
print(sorted_dict)

{'apple': 2, 'grape': 3, 'banana': 5, 'orange': 8}

12.Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
def check_key(dict,key):
  if key in dict:
    print("exist")
  else:
    print("not exist")
dict={"apple":2,"cherry":6,"lemon":3}
key="cherry"
check_key(dict,key)

exist

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
dic1={'a':1,'b':4,'c':7}
sum=0
for i in dic1.values():
  sum+=i
print(sum)

12

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [ ]:
k=int(input('enter the number: '))
if k<10:
  print({h:h*h for h in range(1,k+1)})
else:
  print("input number is greater than 10")

enter the number: 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
mydict = {'name': 'John', 'age': 25, 'job': 'Developer', 'city': 'Seattle'}
mykeys=list(mydict.keys())
mykeys.sort()
sorteddict={i:mydict[i] for i in mykeys}
print(sorteddict)

{'age': 25, 'city': 'Seattle', 'job': 'Developer', 'name': 'John'}

16.Write a Python program to create a dictionary from a string.

In [ ]:
mystr='helloworld'
mydict=dict()
for i in mystr:
  if i in mydict:
    mydict[i]+=1
  else:
    mydict[i]=1
print(mydict)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}